// Define variables for your color scheme

// For example:
$red: rgb(253, 74, 77);
$blue: #167FFB;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: rgb(88, 83, 83);
$light-gray: #F4F4F4;
$bkcolor: #FAF4F4;
$btn: #FE5D02;
$logoblue: #09D8E5;
