.groups{
  padding-top: 24px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 24px;
}
.group-card{
  border-radius: $border-radius-lg;
  color: black;
  box-shadow: 0 5px 20px rgba(0,0,0,0.1);
  min-height: 180px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: start;
}

.post-count{
  font-weight:bold;
}

 .index-group{
   display: flex;
   flex-wrap: wrap;
 }

 .btn-outline-dark{
   font-weight: bold;
  border-radius: $border-radius-sm;
  width: fit-content;
  border: none;

 }

 .card-title{
  font-weight: bold;
  margin-bottom: 2px;
 }

