<div class = "ml-2">
  <% if user_signed_in? && current_user.bookmarks.where(post_id: post.id).empty? %>
    <%= link_to "", post_bookmarks_path(post.id), method: :post, class: "far fa-bookmark", remote: true%>
  <% else %>
    <%= link_to "", "#", class: "fas fa-bookmark", remote: true%>
  <%end %>
</div>