<div class="container">
  <div><center><h3>Recent Activity</h3></center></div>
    <ul>
      <% @notifications.each do |notification| %>
         <%= render "notification", notification: notification %>
      <% end %>
    </ul>
</div>
