<div class="container">
  <div>
    <center><h3 style = "color: #FE5D02"><strong>Recent Activity</strong></h3></center>
  </div>
  <div>
    <% if @notifications.any? %>
      <% @notifications.each do |notification| %>
        <%= render "notification", notification: notification %>
      <% end %>
    <% else %>
      <p class='text-muted text-center'>You have no new notifications!</p>
    <% end %>
  </div>
  <div>
    <center><h3 style = "color: #FE5D02"><strong>Old Activity</strong></h3></center>
  </div>
  <div>
    <% @old_notifications.each do |notification| %>
       <%= render "notification", notification: notification %>
    <% end %>
  </div>
</div>
