<div>
  <h1>Hi there here are your new notifications</h1>
    <ul>
      <% @notifications.each do |notification| %>
       <li>
         <%= render "posts/post_card", post: notification.comment.post %>
       </li>
      <% end %>
    </ul>
</div>
