<div class = "groups">
  
  <div class = "container index-group" style="width: 70rem;">
    <% @groups.each do |group| %>
      <div class="card my-4 mx-5" style="width: 25rem;">
        <div class="card-body">
          <div>
            <h5 class="card-title"><%=group.name %></h5>
            <p class="card-text"><%= group.description %></p>
          </div>
          <%= link_to "Check the group", group_path(group.id), class:"btn btn-outline-dark" %>
          <% if user_signed_in? %>
              <% current_user %>
            <% end %>
        </div>
      </div>
    <%end %>
  </div>
</div>

<%# bg-<%= Group::COLOR[0] %>