<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)), url(<%= image_path "home.jpg" %>);">
  <div class="container text-light">
    <h1>Join <strong class="text-primary">Hello World</strong> community which brings Devs of the World together.</h1>
    <p>Our virtual network is here to support you in your journey to become a better developer.</p><br>
    <%= link_to "Find out more", groups_path, class: "btn btn-primary btn-lg" %>
  </div>
</div>
<div class="footer">
  <p>Follow us on</p>
  <div class="footer-links">
    <a href="#"><i class="fab fa-instagram"></i> Instagram</a>
    <a href="#"><i class="fab fa-facebook"></i> Facebook</a>
  </div>
</div>
