
<div>
  <div class="banner">
  <div class="banner-img">
    <%= image_tag "home.jpg", class: "banner-image" %>
  </div>
      <div class="container">
        <div class="banner-text" style="float: center; width: 100%">
            <h1>Join Hello World community which brings Devs <br>of the World together</h1><br>
            <h2>Our virtual network is here to support you in your journey<br> to become a better developer</h2><br>
          <%= link_to "Browse groups", groups_path, class: "btn" %>
        </div>
      </div>
  </div>

  <div class="footer">
    <p>Follow us on</p>
    <div class="footer-links">
      <a href="#"><i class="fab fa-instagram"></i> Instagram</a>
      <a href="#"><i class="fab fa-facebook"></i> Facebook</a>
    </div>
  </div>
</div>
