<div class = "container">
<center><h3 style = "color: #FE5D02" class = "mb-4"><strong>My posts</strong></h3></center>
  <%@posts.each do |post| %>
    <%= render 'posts/post_card', post: post %>
  <%end %>
</div>
