.navbar-lewagon {
  justify-content: space-between;
  background: white !important;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 150px;
  // height:70px;
}

.notification {
  background: red;
  color: white;
  border-radius: 9px;
  font-weight: bolder;
  height: 20px;
  width:20px;
  text-align: center;
}
