.navbar-lewagon {
  justify-content: space-between;
  background: #FAF4F4 !important;
  color:white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 185px;
  height:70px;
  border-radius: 9px;
}

