.group-btn {
  color: #4A4A4A;
  border: 1px solid #4A4A4A;
  padding: 8px 24px;
  border-radius:$border-radius;
  font-weight: lighter;
  opacity: 0.6;
  transition: opacity 0.3s ease;
}

.group-btn:hover {
  opacity: 1;
  text-decoration: none;
}